html, body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.grower {
    flex-grow: 1;
}

.full-height {
    height: 100%
}

.navbar {
    padding: 12px;
    /*background: rgba(248, 249, 250, .65);*/
    background-color: white;
}

.right-mg {
    margin-right: 12px;
}

.search-bar {
    width: 500px;
}

.mt-3 {
    margin-top: 32px;
}

.mr-2 {
    margin-right: 12px;
}

.toast-error {
    text-align: center;
}

.profile-sections {
    background-color: white;
    left: 0;
    bottom: 0;
}

.section-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #5b657a !important;
    font-size: smaller;
}
