html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#root {
}

.navbar {
    padding: 12px;
    background: rgba(248, 249, 250, .65);
}

.register-page > input {
    width: 420px;
}

.user-input {
    width: 420px;
}

.register-page {
}