html, body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-height {
    height: 100%;
}

.navbar {
    padding: 12px;
}

.right-mg {
    margin-right: 12px;
}

.search-bar {
    width: 500px;
}

.mt-4 {
    margin-top: 64px;
}

.mt-3 {
    margin-top: 32px;
}

.mr-2 {
    margin-right: 12px;
}

.m-3 {
    margin: 32px;
}

.p-3 {
    padding: 32px;
}

.m-4 {
    margin: 64px;
}

.toast-error {
    text-align: center;
}

.profile-sections {
    background-color: white;
    left: 0;
    bottom: 0;
}

.section-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #5b657a !important;
    font-size: smaller;
}

.center-inside > * {
    text-align: center;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.white-bg {
    background-color: white;
}

.p-4 {
    padding: 64px;
}

.p-5 {
    padding: 36px 96px 36px 96px;
}

.shadowed {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .11);
    border-radius: 2px;
}

.stream {
    background-color: black;
}

.stream-video {
    background-color: black;
    max-height: 100%;
}

.local-video {
    background-color: gray;
    width: 200px;
    height: 150px;
}

.status {
    padding: 16px;
}

.chat {
    height: 300px;
    overflow-y: auto;
}
