html, body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    height: 100vh;
}

#root, .subroot, .register-form, .login-form {
    height: 100%;
}

.navbar {
    padding: 12px;
    background: rgba(248, 249, 250, .65);
}

.register-form, .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -100px;
    width: 420px;
}
 
.login-form > form {
	width: 420px;
}

.right-mg {
    margin-right: 12px;
}

.search-bar {
    width: 600px;
}

.form-submit {
    float: right;
}

.my-3 {
	margin: 16px 0 16px 0;
}

